*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #37b2c3;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.piano {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-keys {
  fill: white;
}

.white-keys:hover {
  fill: #ffd200;
}

.black-keys {
  fill: black;
}

.black-keys:hover {
  fill: #f40082;
}
